In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [85]:
columns = ["제목" "프로그램", "대상","참가요일","시간","회비"]##'제목' 명칭 마지막에 변경
table_df = pd.DataFrame(columns = columns)

In [87]:
##데이터 가져오기
html = requests.get("http://www.sbsports.or.kr/sub/wrcAble.do").text
htmlAll = bs(html,'html.parser')

In [88]:
## 모든 표 df로 만들기
df_list = pd.read_html(html,header=0)

In [95]:
## 프로그램 이름 리스트
tableNames = htmlAll.find_all('caption')
tb_names_list = [name.text.strip() for name in tableNames]
print(tb_names_list)

['수영장 프로그램', '재활헬스 교실 시간표', '체육관 테이블', '재활운동 테이블', '문화교실 테이블']

In [103]:
li = []
temp = df_list[0]["프로그램"]

     종목  프로그램   대상 참가요일   시간   회비
0   NaN   100  NaN  NaN  NaN  NaN
1   NaN   100  NaN  NaN  NaN  NaN
2   NaN   100  NaN  NaN  NaN  NaN
3   NaN   100  NaN  NaN  NaN  NaN
4   NaN   100  NaN  NaN  NaN  NaN
5   NaN   100  NaN  NaN  NaN  NaN
6   NaN   100  NaN  NaN  NaN  NaN
7   NaN   100  NaN  NaN  NaN  NaN
8   NaN   100  NaN  NaN  NaN  NaN
9   NaN   100  NaN  NaN  NaN  NaN
10  NaN   100  NaN  NaN  NaN  NaN
11  NaN   100  NaN  NaN  NaN  NaN
12  NaN   100  NaN  NaN  NaN  NaN
13  NaN   100  NaN  NaN  NaN  NaN